<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
 <!-- display-name元素提供GUI工具可能会用来标记这个特定的Web应用的一个名称。 -->
    <display-name></display-name>

<!-- welcome-file-list元素指示服务器在收到引用一个目录名而不是文件名的URL时，使用哪个文件。 -->
    <welcome-file-list>
    	<welcome-file>List.action</welcome-file>
    </welcome-file-list>
    
  	<!-- 编码Filter 解决乱码问题 -->
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>com.mybatisRobot.filter.SetEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  

    
<!-- 列表页面初始化设置 -->
<servlet>
	<servlet-name>ListServlet</servlet-name>
	<servlet-class>com.mybatisRobot.servlet.ListServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ListServlet</servlet-name>
	<url-pattern>/List.action</url-pattern>
</servlet-mapping>

<!-- 单条删除设置 -->
<servlet>
	<servlet-name>DeleteOneServlet</servlet-name>
	<servlet-class>com.mybatisRobot.servlet.DeleteOneServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DeleteOneServlet</servlet-name>
	<url-pattern>/DeleteOne.action</url-pattern>
</servlet-mapping>

<!-- 多条删除设置 -->
<servlet>
	<servlet-name>DeleteBatchServlet</servlet-name>
	<servlet-class>com.mybatisRobot.servlet.DeleteBatchServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DeleteBatchServlet</servlet-name>
	<url-pattern>/DeleteBatch.action</url-pattern>
</servlet-mapping>

</web-app>